<%= provide(:services,"active") %>
<%= provide(:title,"Servicios") %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <h2 class="text-left text-primary">
        Endodoncia
      </h2><img alt="Bootstrap Image Preview" src="http://lorempixel.com/840/300/" />
      <blockquote>
        <p>
          La caries es una enfermedad infecciosa que se caracteriza por la destrucción de los tejidos duros del diente como consecuencia de una desmineralización provocada por la placa bacteriana.
        </p>
      </blockquote>
      <h2 class="text-left text-primary">
        Factores involucrados en la aparición de la caries
      </h2>
      <ul>
        <li>
           Bacterias (placa bacteriana)

        </li>
        <li>
          Morfología, composición y factores genéticos del diente

        </li>
        <li>
          Dieta (consumo de azucares)

        </li>
        <li>
          Tiempo
        </li>
      </ul>
      <h2 class="text-left text-primary">
        ¿Qué es la endodoncia?
      </h2>
      <p>
        La endodoncia es un tratamiento que consiste en eliminar el tejido pulpar de la pieza dental y se sustituye por un relleno inorgánico que garantiza la hermeticidad interna de la pieza y devuelve su función masticatoria y estética.
      </p>
      <h3>
        ¿Cómo se trata una caries?
      </h3>
      <ul>
        <li>
            Se limpia la pulpa y los canales dentales

        </li>
        <li>
          Se esteriliza. El diente queda vaciado de todo material bacteriano

        </li>
        <li>
          En caso de no haber suficiente superficie dental, se colocan unos postes para soportar la corona o empaste
        </li>
        <li>
          La pieza se prepara para recibir la corona o el empaste. Si se coloca una corona, se talla el diente a la medida exacta

        </li>
        <li>
          La corona o empaste se cementa con un adhesivo especial, normalmente suele ser composite

        </li>
        <li>
          Mediante un pequeño fresado se pule el material sobrante

        </li>
        <li>El diente queda restaurado y sano</li>
      </ul>
      <h3>Ventajas de una endodoncia a tiempo</h3>
      <ul>
        <li>Las bacterias responsables de la caries van deteriorando el tejido dental (esmalte, dentina, pulpa, etc.), si no son frenadas a tiempo puedes perder la pieza</li>
        <li>Cuanto menos avance la caries, más fácil es la reconstrucción del diente</li>
        <li>Sanar el diente infectado es principalmente para evitar que la caries se extienda a dientes vecinos</li>
        <li>Evita molestias al masticar, escalofríos, mal aliento y un color oscuro</li>
      </ul>
      <br><br>
    </div>
    <div class="col-md-4">

    <h3 class="text-left text-primary">Nuestros tratamientos</h3>

    <ul>
       <li >
        <a href="../servicios/rehabilitacion">Rehabilitacion</a>
      </li>
      <li >
        <a href="../servicios/ortodoncia">ortodoncia</a>
      </li>
      <li >
        <a href="../servicios/endodoncia">endodoncia</a>
      </li>
      <li >
        <a href="../servicios/Estetica">Estetica</a>
      </li>
      <li >
        <a href="../servicios/cirugia">cirugia</a>
      </li>
      <li >
        <a href="../servicios/periododoncia">periododoncia</a>
      </li>
      <li >
        <a href="../servicios/implantes">implantes</a>
      </li>
    </ul>

    </div>
  </div>
</div>