<%= provide(:title,"Servicios") %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <h2 class="text-left text-primary">
        Rehabilitación dental
      </h2><img alt="rehabilitacion" src="<%= asset_path("rehabilitacion.jpg") %>" />
      <blockquote>
        <p>
          La ortodoncia es una especialidad de la odontología, se basa en el diagnóstico, prevención y tratamiento de las irregularidades dentofaciales o mala oclusión (mala mordida). Persigue la perfecta colocación de los dientes, con sus beneficios estéticos y de salud, así como la normal coordinación de los maxilares, consiguiendo una armonía facial.
        </p>
      </blockquote>
      <h2 class="text-left text-primary">
        Proceso de colocación de los bráquets
      </h2>
      <ul>
        <li>
            Se abre la boca del paciente

        </li>
        <li>
         Se aplica acondicionador para microporizar el diente

        </li>
        <li>
          Se aplica el material adhesivo

        </li>
        <li>
          Luz de polimerizar
        </li>
        <li>
          Resina polimerizable
        </li>
        <li>
          De nuevo se aplica luz de polimerizar
        </li>
        <li>
          Colocación de los bráquets
        </li>
        <li>
          Colocación del arco
        </li>
        <li>
          Confirmación de la colocación de los bráquets con gomitas
        </li>
      </ul>
      <h2 class="text-left text-primary">
        ¿Cuándo es necesaria la ortodoncia?
      </h2>
      <ul>
        <li>Dientes apiñados o superpuestos</li>
        <li>Sobremordidas</li>
        <li>Mucho o poco espacio entre dientes</li>
        <li>Dientes de más o ausente</li>
        <li>Es una técnica que cada vez se utiliza más, dado el actual interés por la promoción de la salud de nuestros hijos. Cada vez es solicitada a edades más tempranas</li>
      </ul>
      <h2 class="text-left text-primary">
        Tipos de ortodoncia
      </h2>

      <h3>Ortodoncia convencional</h3>
      <ul>
        <li>
            Los bráquets convencionales son metálicos, tanto los tensores como el arco.

        </li>
      </ul>
      <h3>Ortodoncia estética</h3>
      <ul>
        <li>
          Los bráquets estéticos están hechos de cerámica, lo que confiere un color blanco parecido a nuestros dientes, mejorando la estética.
        </li>
      </ul>
      <h3>Ortodoncia invisible</h3>
      <ul>
        <li>
          Alineadores prácticamente invisibles y extrapoles que se cambian cada dos semanas por un nuevo juego de alineadores.

        </li>
        <li>Extraíbles, a medida, eficaces, cómodos y transparentes.</li>
      </ul>
      <br><br>
    </div>
    <div class="col-md-4">

    <h3 class="text-left text-primary">Nuestros tratamientos</h3>

    <ul>
       <li >
        <a href="../servicios/rehabilitacion">Rehabilitacion</a>
      </li>
      <li >
        <a href="../servicios/ortodoncia">ortodoncia</a>
      </li>
      <li >
        <a href="../servicios/endodoncia">endodoncia</a>
      </li>
      <li >
        <a href="../servicios/estetica">Estetica</a>
      </li>
      <li >
        <a href="../servicios/cirugia">cirugia</a>
      </li>
      <li >
        <a href="../servicios/periododoncia">periododoncia</a>
      </li>
      <li >
        <a href="../servicios/implantes">implantes</a>
      </li>
    </ul>

    </div>
  </div>
</div>