<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Cargos">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Nombre</Data></Cell>
        <Cell><Data ss:Type="String">Descripción</Data></Cell>
        <Cell><Data ss:Type="String">Sueldo</Data></Cell>
      </Row>
    <% @positions.each do |position| %>
      <Row>
        <Cell><Data ss:Type="String"><%= position.nombre %></Data></Cell>
        <Cell><Data ss:Type="String"><%= position.descripcion %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= position.sueldo %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
