<footer>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3" id="footer_serv">
       <h3>Clínica María Auxiliadora</h3>
           <ul>            
               <li >
        <a href="../servicios/rehabilitacion">Rehabilitacion</a>
      </li>
      <li >
        <a href="../servicios/ortodoncia">ortodoncia</a>
      </li>
      <li >
        <a href="../servicios/endodoncia">endodoncia</a>
      </li>
      <li >
        <a href="../servicios/Estetica">Estetica</a>
      </li>
      <li >
        <a href="../servicios/cirugia">cirugia</a>
      </li>
      <li >
        <a href="../servicios/periododoncia">periododoncia</a>
      </li>
      <li >
        <a href="../servicios/implantes">implantes</a>
      </li>
            </ul> 
    </div>
    <div class="col-md-5" id="footer_no">
      <h3>Ubicación</h3>
              <p>Urb. El Porvenir Mz. C Lt. 18 - 2do piso - Ate
                  (frente al Banco de Credito)
              </p>
              <h4>Telefono: </h4><p>351 4837</p>
              <h4>Email:<a href="mailto:hebmartinez@hotmail.com">hebmartinez@hotmail.com</a></h4>
    </div>
    <div class="col-md-4">
       <h3>Síguenos en:</h3><br>
          
          <a href="http://www.facebook.com/CDMariaAuxiliadora?fref=ts" target="_blank"><img src="<%= asset_path("icon/Facebook.png") %>" /></a>
          <a href="#" target="_blank"><img src="<%= asset_path("icon/Twitter.png") %>" /></a>
          <a href="#" target="_blank"><img src="<%= asset_path("icon/youtube.png") %>" /></a>
    </div>
  </div>
</div>
        
                                         
      </footer>