<% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

<ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="/patients/new">
                                <div>
                                    <span class="pull-right text-muted">
                                    </span>
                                </div>
                                <div>Agregar Paciente</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/patients/">
                                <div>
                                    <span class="pull-right text-muted">
                                    </span>
                                </div>
                                <div>Lista Pacientes</div>
                            </a>
                        </li>
                       
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <% if can? :create, @employee %>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user-md fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="/employees/">
                                <div>
                                    <span class="pull-right text-muted">
                                    </span>
                                </div>
                                <div>Lista Empleados</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                       
                        <li>
                            <a href="/employees/new">
                                <div>
                                    <span class="pull-right text-muted">
                                    </span>
                                </div>
                                <div>Agregar Empleado</div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <% end %>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>Ver citas</strong>
                                    </span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>Crear cita</strong>
                                    </span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Leer todos las citas</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        
                        <li>
                            <a href="/procedures/new">
                                <div>
                                    <p>
                                        <strong>Agregar Historia Clinica</strong>
                                    </p>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/procedures/">
                                <strong>Ver todas las Historias Clinicas</strong>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                
                <!-- /.dropdown -->
                
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="glyphicon glyphicon-sd-video"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="/treatments/">
                                <div>
                                    Lista de Servicios
                                </div>
                            </a>
                        </li>
                        <% if can? :create, @treatment %>
                        <li class="divider"></li>
                        <li>
                            <a href="/treatments/new">
                                <div>
                                    Agregar nuevo Servicio
                                </div>
                            </a>
                        </li>
                        <% end %>
                        <% if can? :create, @treatment %>
                        <li class="divider"></li>
                        <li>
                            <a href="/positions/new">
                                <div>
                                    <p>
                                        Agregar nuevo cargo
                                    </p>
                                   
                                </div>
                            </a>
                        </li>
                        <% end %>
                        <% if can? :create, @position %>
                        <li class="divider"></li>
                        <li>
                            <a href="/positions/">
                                <div>
                                    <p>
                                        Ver Cargos
                                    </p>
                                </div>
                            </a>
                        </li>
                        <% end %>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/users/edit"><i class="fa fa-user fa-fw"></i> Configurar Cuenta</a>
                        </li>

                        <li><a href="/users/invitation/new"><i class="fa fa-gear fa-fw"></i> Invitar usuarios</a>
                        </li>
                        <li class="divider"></li>
                        <li><a rel="nofollow" data-method="delete" href="/users/sign_out"><i class="fa fa-sign-out fa-fw"></i>Salir</a></li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>

            