<%= provide(:about,"active") %>
<%= provide(:title,"Nosotros") %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-1">
      <h3 class="text-left text-primary">
        ¿Quienes somos?
      </h3>
      <p>
        Somos un grupo de profesionales altamente calificados, que conforman una de las Clínicas Dentales de mayor prestigio y trayectoria en el Distrito de Ate-Vitarte, bajo la dirección del reconocido especialista Dr. Herbert  A través de una esmerada atención personalizada, brindamos soluciones integrales con la más alta tecnología en odontología. 
      </p>
      <h3 class="text-left text-primary">
        Misión
      </h3>
      <p>
        Somos una institución cuyo principal objetivo es brindar el mejor servicio en el ámbito odontológico, para ello buscamos el desarrollo continuo de la prestación de servicios de forma especializada e integral, apoyados de la tecnología y nuestro recurso humano para brindar una atención de calidad y oportuna a nuestros pacientes.
      </p>
      <h3 class="text-left text-primary">
        Visión
      </h3>
      <p>
        Lograr en el año 2016 el reconocimiento en el distrito de Ate-Vitarte como la institución odontológica con mayor cobertura en la atención de los pacientes de estratos bajos o vulnerables, con alta calidad y sentido humano. 
      </p>
      <h3 class="text-left text-primary">
        Valores
      </h3>
      <ul>
      <li>Ética: Nuestros actos tienen como base los principios y normas  morales que garantizan nuestro propio bienestar y el de los demás</li>
      <li>Solidaridad: Apoyamos el interés común   y trabajamos por las necesidades de los demás, compartiendo las responsabilidades y obligaciones de la sociedad.</li>
      <li>Honestidad: Actuamos con rectitud, coherencia y veracidad, generando credibilidad y confianza.</li>
      <li>Respeto: Escuchamos, entendemos y valoramos a nuestros usuarios y colaboradores, reconociendo que todos tenemos diferentes ideas y creencias pero las mismas necesidades y derechos.</li>
      <li>Responsabilidad: Estamos comprometidos en asumir y cumplir nuestros deberes y obligaciones para alcanzar los propósitos de la organización.</li>
    </ul>
    </div>
  </div>
</div>
<br><br>

