<%= provide(:services,"active") %>
<%= provide(:title,"Servicios") %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3 class="text-left text-primary">
        Servicios
      </h3>
      <div class="panel-group" id="panel-92287">
        <div class="panel panel-default">
          <div class="panel-heading">
             <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-92287" href="#acorderon1">Endodoncia</a>
          </div>
          <div id="acorderon1" class="panel-collapse collapse">
            <div class="panel-body">
              <p >Es el tratamiento que consiste en la extracción de 
                  la pulpa del diente, un tejido pequeño en forma de hebra, que se encuentra en el centro del conducto del diente. Una vez que la pulpa muerta, se enferma o es dañada, se extrae; el espacio que queda se limpia, se vuelve a dar forma y se rellena. Este procedimiento sella el conducto radicular. Años atrás, los dientes con pulpas dañadas o enfermas se extraían. En la actualidad, el tratamiento de conducto salva dientes que de otro modo se hubieran perdido.<br>
                  Las causas más comunes de daños o muerte de la pulpa son:<br>
                  <ul>
                      <li>Dientes fracturados</li>
                      <li>Caries profundas</li>
                      <li>Lesiones, como golpes severos en la raíz (recientes o pasados)</li>
                      <li>Una vez que la pulpa está infectada o muerta; si no se trata, se 
                      crea un depósito de pus en la punta de la raíz y se forma un absceso 
                      por infección. Un absceso puede destruir el hueso circundante al diente 
                      y provocar dolor.</li>
                  </ul>
        
        
        <img class="foto_servicios" src="/assets/endodoncia.jpg">
        </p>

            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
             <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-92287" href="#acordeon2">Periodoncia</a>
          </div>
          <div id="acordeon2" class="panel-collapse collapse">
            <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
             <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-92287" href="#acordeon3">Rehabilitación Oral</a>
          </div>
          <div id="acordeon3" class="panel-collapse collapse">
            <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
             <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-92287" href="#acordeon4">Estética Dental</a>
          </div>
          <div id="acordeon4" class="panel-collapse collapse">
            <div class="panel-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

          
          

